# Project-Specific



# Ansible
.ansible/
*.retry

# Binaries for programs and plugins
*.dll
*.dylib
*.exe
*.exe~
*.so

# Build output
/dist/

# Configurations
.env
config.ini
config.yml
config.yaml

# Code coverage profiles and other test artifacts
*.coverprofile
*.out
*.test
coverage.*
profile.cov

# Editor/IDE
.idea/
.vscode/

# Go workspace file
go.work
go.work.sum

# go-task
.task/
.task_start_time

# Python
__marimo__/
__pycache__/
__pypackages__/
.abstra/
.cache
.coverage
.coverage.*
.dmypy.json
.eggs/
.env
.envrc
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.pdm-build/
.pdm-python
.pixi/*
.pybuilder/
.pypirc
.pyre/
.pytest_cache/
.Python
.pytype/
.ropeproject
.ruff_cache/
.scrapy
.spyderproject
.spyproject
.streamlit/secrets.toml
.tox/
.venv
.webassets-cache
*.aof
*.cover
*.egg
*.egg-info/
*.lcov
*.log
*.manifest
*.mo
*.pid
*.pot
*.py.cover
*.py[codz]
*.rdb
*.sage.py
*.so
*.spec
*$py.class
/site
activemq-data/
build/
celerybeat-schedule*
celerybeat.pid
cover/
coverage.xml
cython_debug/
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
env/
ENV/
htmlcov/
instance/
ipython_config.py
lib/
lib64/
local_settings.py
MANIFEST
marimo/_lsp/
marimo/_static/
mnesia/
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
profile_default/
rabbitmq-data/
rabbitmq/
sdist/
share/python-wheels/
target/
tempCodeRunnerFile.py
var/
venv.bak/
venv/
wheels/

# Terraform
.terraform.tfstate.lock.info
.terraform/
.terraformrc
*_override.tf
*_override.tf.json
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.*.log
crash.log
override.tf
override.tf.json
terraform.rc

# macOS
.DS_Store

# Virtual Machine Images
*.ova
*.qcow2
*.vdi
*.vhdx
*.vmdk

# Windows
*.cab
*.lnk
*.msi
*.msix
*.msm
*.msp
*.stackdump
$RECYCLE.BIN/
desktop.ini
Desktop.ini
ehthumbs_vista.db
ehthumbs.db
Thumbs.db
Thumbs.db:encryptable
